.wrapper {
  padding: 0 20px;
  max-width: 1440px;
  width: 100%;

  .form-select {
    cursor: pointer;
  }

  .name-input, button {
    margin: 30px 0 10px 0;
    font-weight:bold;
  }

  .alert {
    margin-top: 5px;
  }

  .alert-danger {
    padding: 10px 5px;
  }

  &__row {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p:nth-child(2) {
      width: 100px;
    }
  }
}

